<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
</head>

<body>
    <h1>Weather in {{ city_name }}</h1>
    {% if weather %}
    <p>City: {{ weather.city }}</p>
    <p>Temperature: {{ weather.temperature }}°C</p>
    <p>Description: {{ weather.description }}</p>
    <img src="http://openweathermap.org/img/wn/{{ weather.icon }}.png" alt="Weather Icon">
    {% else %}
    <p>Weather data not available for this city.</p>
    {% endif %}
    <form method="GET" action="{% url 'weather:weather' %}">
        <input type="text" name="city" placeholder="Enter city">
        <button type="submit">Get Weather</button>
    </form>
</body>

</html>